.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 24px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  height: 52px;
}
