html,
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

:root {
  --white: #ffffff;
  --gray: #5f6368;
  --medium-gray: #d9d9d9;
  --light-gray: #f2f2f2;
  --blue: #1a0dab;
  --text-color: #000000dd;

  --header-items-gap: 16px;
  --header-height: 60px;
}
