.search-container {
  display: flex;
  justify-content: center;
  padding-left: 10vw;
}

.search-content {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  gap: 76px;
  margin: 36px 0px;
}

.search-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
}

@media screen and (min-width: 1200px) {
  .search-container {
    padding-left: 120px;
    justify-content: start;
  }
}

@media screen and (max-width: 480px) {
  .search-container {
    padding-left: 5vh;
  }
}
