.search-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.search-result {
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  margin: 36px 0px;
  gap: 24px;
  padding-left: 10vw;
}

@media screen and (min-width: 1200px) {
  .search-result {
    padding-left: 120px;
  }
}
