.search-container {
  display: flex;
  justify-content: center;
  padding-left: 10vw;
}

.search-content {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  gap: 54px;
  margin: 36px 0px;
}

.search-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
}

.no-results {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 8px;
}

@media screen and (min-width: 1200px) {
  .search-container {
    padding-left: 120px;
    justify-content: start;
  }
  .no-results {
    padding-left: 20vw;
  }
}

@media screen and (min-width: 800px) {
  .no-results {
    margin-left: -20vw;
    width: max-content;
  }
}

@media screen and (max-width: 480px) {
  .search-container {
    padding-left: 5vw;
  }
}
