.item-detail-skeleton-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 300px;
  height: 300px;
}

.text-detail-skeleton {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.image-detail-skeleton {
  width: 300px;
  height: 900px;
}
