.header {
  background-color: var(--white);
  border-bottom: 2px solid var(--light-gray);
}

.content-on-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--header-items-gap);
  height: var(--header-height) -8px;
  padding-bottom: 8px;
}

.left-items {
  max-width: 70vw;
}

.apps-icon-container {
  width: 36px;
  height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apps-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.apps-icon-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--medium-gray);
  border-radius: 50%;
  opacity: 0;
}

.apps-icon-container:hover .apps-icon-bg {
  opacity: 1;
}
